# ============================
# Python / Virtualenv
# ============================
__pycache__/
*.pyc
*.pyo

.venv/
venv/

# ============================
# IDE Files
# ============================
.vscode/
.idea/

# ============================
# Ignore Large Outputs
# ============================
# Logs
logs/
logs/*

# Results & CSV logs
*.csv
logs/*.csv

# Models
*.json
*.zip

# ============================
# Data files
# ============================
data/*.csv
data/*.parquet
data/processed/*.csv
data/processed/*.parquet

# Keep only feature generator code, not data
!data/
!data/processed/
!data/raw/

# ============================
# TensorBoard
# ============================
tensorboard/
tensorboard_runs/
*.tfevents.*

# ============================
# Jupyter + IPython
# ============================
*.ipynb
.ipynb_checkpoints/

# ============================
# OS / Temp
# ============================
.DS_Store
Thumbs.db

# PNG Files
*.png